body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tela_inteira {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-image: url(https://c.wallhere.com/photos/63/6b/digital_art_technology-47490.jpg!d); */
    background-color: black;
}


input {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    margin: 0;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;   
    background-color: transparent;
    padding: 0;
}

h1 {
    color: white;
    font-size: 48px;
    text-shadow: 
   -1px -1px 0px rgb(0, 195, 255), 
   -1px 1px 0px rgb(0, 195, 255),                    
    1px -1px 0px rgb(0, 195, 255),
    1px 0px 0px rgb(0, 195, 255);
}

h2 {
    color: white;
    font-size: 48px;
    text-shadow: 
   -1px -1px 0px rgb(0, 195, 255), 
   -1px 1px 0px rgb(0, 195, 255),                    
    1px -1px 0px rgb(0, 195, 255),
    1px 0px 0px rgb(0, 195, 255);
}

.bi-arrow-down{
    color: white;
}

#table_grade {
    display: flex;
    justify-content: left;
    margin-bottom: 10%;
}

.dicas {
    color: white;
    font-size: 20px;
    text-shadow: 
   -1px -1px 0px rgb(0, 195, 255), 
   -1px 1px 0px rgb(0, 195, 255),                    
    1px -1px 0px rgb(0, 195, 255),
    1px 0px 0px rgb(0, 195, 255);
}